<section style="background-color: #eee;">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Your ordered Products</strong></h4>

        <div class="row">
            {{#each orderPrice}}
            
            <div class="col-lg-4 col-md-12 mb-4">
                {{#each products}}
                <div class="card">
                    
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="/images/{{this.allImages.[0]}}" class="w-100" />

                        <a href="#!">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3">{{this.brandnames.brand}} - {{this.subcategory.subcategoryName}}</h5>
                        <h5 class="card-title mb-3">{{this.catagory.category}}</h5>


                        </a>

                        {{! <a href="" class="text-reset">
                            <p>Category</p>
                        </a> }}
                        <hr>
                        <h6 class="mb-3"><strong> Product Price &#x20b9  -&nbsp; {{this.price}}.00</strong></h6>
                         {{/each}}
                       <hr> 
                     <h6 class="mb-3"><strong> Total Amount &#x20b9  -&nbsp;{{this.totalAmt}}.00</strong></h6>
                     <h6 class="mb3"><strong>(including shipping charge)</strong></h6>
                       
                    </div>
                </div>
            </div>

            {{/each}}
           
        </div>
    </div>
</section>





