


<section>
    <div class="container">
        {{!-- <div class="row mt-5 d-flex justify-content-center">
           <a href="/admin/add-product" style="height: 40px; width:300px;"  class="btn btn-warning "><span>ADD PRODUCTS</span></a>
        </div> --}}
        <table id="orderTable" class="border rounded border-secondary table mt-5">
  <thead class="table-success">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      {{!-- <th scope="col">City</th> --}}
      {{!-- <th scope="col">Pincode</th> --}}
      {{!-- <th scope="col">Mobile</th> --}}
      <th scope="col">Product</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  
  <tbody>
      {{#each orders}}

       <tr>
    
      <td>{{this.date}}</td>
     
      <td>{{this.address}},{{this.city}},{{this.pincode}},{{this.mobile}}</td>
      
     {{#each this.products}}
      <td>{{this.brandnames.brand}}-{{this.subcategory.subcategoryName}}-{{this.catagory.category}}</td>

      {{/each}}
      
      <td>{{this.totalAmt}}</td>
      <td>{{this.paymentMethod}}</td>
      <td>{{this.status}}</td>

     
     
      <td>
          <a href="/view-order-products/{{this._id}}" class="btn btn-warning">View Products</a>
      </td>
      
        </tr>
        
     {{/each}}
    
    </tbody>
     
</table>
    </div>
     </div>
</section>

 {{!-- <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>   --}}

{{!-- <script> 
  $(document).ready( function () {
    $("#orderTable").DataTable();
} );
</script> --}}